/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


.error-404 {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 8.875rem;

    .error-banner {
        img {
            max-width: 42.875rem;
            width: 100%;
        }        
    }

    p {
        font-size: 1.3125rem;
    }
}
