
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;

    &.about-banner {
        background-image: url(../images/banner/about-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 7rem;
        padding-bottom: 8rem;
    }
}
