/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/

.contact-content {
    position: relative;
    margin-bottom: $section-spacer;

    @include media-breakpoint-up(lg) {
        &::after {
            content: "";
            background-color: rgba($theme-color, .29);
            position: absolute;
            left: 50%;
            bottom: 0;
            display: block;
            height: 12.25rem;
            width: 1px;        
        }
    }
}

#contact-info {
    .icon-box {
        .icon-header {
            p {
                font-size: 1rem;
                line-height: 2;
            }
        }
    }
}