
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.about-content {
	background: url(../images/about/bg.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;

	h3 {
		line-height: 3.5rem;
		font-size: 2.6rem;
		font-weight: 300;
	}

	.title {
		letter-spacing: 0.5rem;
		position: relative;

		@include media-breakpoint-up(md) {
			&::before {
				content: "";
				background-color: $theme-color;
				display: block;
				width: 7rem;
				height: 2px;
				margin-top: -1px;
				position: absolute;
				left: -9.25rem;
				top: 50%;				
			}
	
			&.right {
				&::before {
					left: auto;
					right: -9.25rem;			
				}
			}
		}		
	}

	.content {
		line-height: 2.5rem;
	}
}

// Carosel arrow color change //
.carousel-control-prev-icon, 
.carousel-control-next-icon {
	font-size: 2rem;
	color: $theme-color;
	background: center;
	margin-bottom: 3rem;

	img {
		padding: 1rem;
		background-color: white;
		border-radius: 50%;
		opacity: 1;
		z-index: 1;width: 4rem;
	}
}

.carousel-control-prev {
	left: -5rem;

	@include media-breakpoint-down(lg) {
		left: 0;
	}
}

.carousel-control-next {
	right: -2rem;

	@include media-breakpoint-down(lg) {
		right: 0;
	}
}