
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #282828;

	hr {
		background-color: #5c5b59;
		margin: 2.5rem 0;
	}

	a {
		text-decoration: none;
	}
}

#footer-top {
	padding-top: 1.35rem;
	font-size: 0.685rem;
	padding-bottom: 1.35rem;
}

#footer-main {
	background-color: #2e2e2e;
	padding-top: 2rem;
	font-size: 0.685rem;
	padding-bottom: 3rem;
}

#footer-bottom {
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
}

#copyrights {
	color: #787878;
	font-size: 0.875rem;
	font-weight: 600;	
	line-height: 2;	
	z-index: 1;	

	@include media-breakpoint-up(lg) {
		margin-right: 2.25rem;
	}
}