
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;		
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;		
		width: 100%;
		z-index: 1;
	}
}

/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: 2.5rem;
	position: relative;

	.product-image {
		position: relative;

		img {
			width: 100%;
			border-radius: 1rem;
		}

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: 1.5rem;
	}

	.product-price {
		font-size: 0.875rem;
		font-family: $body-font;
		font-weight: 300;
		line-height: 1;
		color: $white;

		del {
			color: #f1d0cb;
			margin-left: 1rem;
		}
	}

	.product-categories {
		a {
			color: #ff5a7d;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.875rem;
		margin-bottom: 0.5rem;

		a {
			color: $white;
			text-decoration: none;
		}
	}

	.product-rating {
		line-height: 1;
		color: #979797;

		i {
			color: #9ad076;
			font-size: 1rem;

			&.empty {
				color: rgba(#9ad076, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 1;
		bottom: 1;
		left: 1;
		grid-gap: 0.5rem;
		z-index: 2;
		@include transition(all 0.3s ease-in-out);
	}

	.product-quantity, .product-link {
		background-color: $white;
		text-decoration: none;
		font-size: 0.875rem;
		padding: 0.5rem 1rem;
		color: #c3c3c3;

		@include media-breakpoint-down(xxl) {
			padding: 0.5rem 0.2rem;
		}
	}

	.product-quantity {
		border-bottom-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.product-link {
		border-bottom-right-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}

	.product-link:hover {
		background-color: #ccc;
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: $body-font;
    font-size: .875rem;
    line-height: 1;
    font-weight: 400;
    padding: .8rem 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom-right-radius: 0.875rem;
}

.onhot {
	background-color: #ff3263;
	color: $white;
}

.onnew {
	background-color: $theme-color;
	color: $white;
}

.onbest {
	background-color: #8b5ec7;
	color: $white;
}

.ontop {
	background-color: #5adbde;
	color: $white;
}

.onsale {
	background-color: #ffc83a;
	color: $white;
}

.banner-wishlist {
	position: absolute;
	top: 0;
	right: 0;
	color: #fe3362;
}


/* Ads
-----------------------------------------------------------------*/

.ads {
    position: relative;
    display: block;

	.ads-bg {
		img {
			height: 25rem;
		}
	}

	&.ads1 {

		.ads-body {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 100%;

			h2 {
				letter-spacing: .5rem;
				font-weight: 300;
				line-height: 5rem;
				
				@include media-breakpoint-down(lg) {
					line-height: 3rem;
				}
			}

			a {
				font-size: 0.875rem;
				font-weight: 300;
			}

			@include media-breakpoint-down(lg) {
				padding: 0.875rem;
			}
		}
	}
}

.brand {
	position: relative;
	font-size: 1.875rem;
	background-color: white;
	width: 12rem;
	border-radius: 0.5rem;
	transform: rotate(-10deg);
	top: -12rem;
	left: 2rem;

	@include media-breakpoint-down(lg) {
		top: -10rem;
		left: 0;
	}

	@include media-breakpoint-down(sm) {
		font-size: 1.2rem;
		width: 8rem;
		top:-10rem;

	}
}

.author-details {
	.author-age {
		color: #848484 !important;
	}

	.author-name {
		letter-spacing: 0.1rem;
	}
}

.signup {
	position: relative;

	img {
		height: 50rem !important;
	}
	
	.signup-detail {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		form {
			border-radius: 0.5rem;

			label {
				font-size: 0.875rem;
				color: #b1e590;
				margin-bottom: 0.5rem;
			}

			select {
				border-radius: 0.5rem;
				padding: 1.1rem 1.5rem;
				font-family: $body-font;
			}

			input {
				font-family: $body-font;
			}

			.submit {
				margin-top: 2.3rem;
			}
		}

		@include media-breakpoint-down(md) {
			padding: 0.5rem;
		}
	}
}

// portfolio//

#portfolio-menu {
	padding: 0.5rem 0;

	ul {
		padding:0;
	}

	li {
		background-color: #f7f9f5;
		padding: 0.5rem 1.2rem;
		border-radius: 0.5rem;
		list-style: none;

		&:hover {
			background-color: $theme-color;
		}

		a {
			color: #848484;
			font-family: $body-font;
			font-weight: 500;		
			letter-spacing: $primary-menu-font-spacing;
			text-transform: $primary-menu-font-tt;
			text-decoration: none;
			
			&:hover {
				color: $white !important;
			}
	
			@media (min-width: 1200px) {
				line-height: 1;
			}
		}

		@include media-breakpoint-down(md) {
			margin: 1rem;
			text-align: center !important;
		}
	}
}

.testimonials-image {
	@include media-breakpoint-down(lg) {
		padding: 0 !important;
	}
}

.testimonials-detail {
	p {
		line-height: 2rem;
		color: #212121;
	}


	.testimonials-author {
		.author-age {
			h6 {
				color: #a3a3a2;
			}
		}

		.author-name {
			color: #282828;
		}
	}
	
	.widget-custom-html {
		.widget-content {
			i {
				color: #cecece;
			}
		}
	}
}