
/*-----------------------------------------------------------------------------------

	Shortcodes: team.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Team member Styles
-----------------------------------------------------------------*/

.team {
    position: relative;

    @include media-breakpoint-up(md) {
        margin-left: -0.5rem;
    }
    

    .team-image {
        text-align: center;
        
        img {
            @include media-breakpoint-up(md) {
               width: 100%;            
            }
        }
    }
    
    .team-details {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 1;

        .team-skill {
            font-size: 0.875rem;
            color: #848484;
        }
    
        .team-name {
            h5 {
                color: #282828;
                font-weight: 400;
                letter-spacing: 0.1rem;
                font-family: $body-font;
            }
        }
    
        .team-rate {
            i {
                color: $theme-color;
                font-size: 0.75rem;
            }
    
            span {
                font-size: 0.875rem;
                color: #848484;
            }
        }
    }
}